<textarea name="texto" id="1" [textContent]="numeros[contadorNumeros]"></textarea>
<br>
<button (click)="setNumeros('1')">1</button>
<button (click)="setNumeros('2')">2</button>
<button (click)="setNumeros('3')">3</button>
<button (click)="setsignos('+')">+</button>
<br>
<button (click)="setNumeros('4')">4</button>
<button (click)="setNumeros('5')">5</button>
<button (click)="setNumeros('6')">6</button>
<button (click)="setsignos('-')">-</button>
<br>
<button (click)="setNumeros('7')">7</button>
<button (click)="setNumeros('8')">8</button>
<button (click)="setNumeros('9')">9</button>
<button (click)="setsignos('/')">/</button>
<br>
<button (click)="setsignos('x')">x</button>
<button (click)="setNumeros('0')">0</button>
<button>.</button>
<button (click)="hacerOperacion()">=</button>




